.sabout {
  background: linear-gradient(-180deg, #dbc793, #fff1cc 80%);
  font-family: 'Sujun', sans-serif;
}

.Description, .photo, .reseaux {
  background: rgba(71, 52, 21, 70%);
}

@media (max-width: 576px) {
  .sabout {
    flex-direction: column;
  }

  .content-container {
    flex-direction: column;
  }

  .Description, .photo, .reseaux {
    width: 100%;
    margin: 0.5rem 0;
  }
}