.barre {
  color: #ffffff;
  width: max-content;
  font-family: "Dune_Rise", sans-serif;
}

.homeDiv {
  background: linear-gradient(-270deg, #dbc793, #fff1cc 80%);
  font-family: "Asimov", sans-serif;
}
