.barre{
     color: #FFFFFF;
     width: max-content;
     font-family: 'Dune_Rise', sans-serif;
 }

.homeDiv {
     background :linear-gradient( -270deg, #DBC793 ,#FFF1CC 80%);
     font-family: 'Sujun', sans-serif ;
}