.realsection {
  background: linear-gradient(-90deg, #dbc793 30%, #fff1cc 60%);
  font-family: "Sujun", sans-serif;
  height: 100vh;
}

.project-container {
  width: 100%;
  height: 70vh;
}

.title-container {
  background: linear-gradient(-90deg, #dbc793 30%, #fff1cc 60%);

}

.projet1,
.projet2,
.projet3,
.projet4,
.projet5 {
  font-family: "neuropol", sans-serif;
  background: rgba(183, 159, 94, 0.6);
  box-shadow: -10px 5px 20px black;
}

@media (max-width: 576px) {
  .realsection {
    height: auto;
    width: auto;
    margin: auto;
    padding-bottom: 20px;
  }

  .project-container {
    max-height: none;
    height: auto;
  }

  .projet1,
  .projet2,
  .projet3,
  .projet4,
  .projet5 {
    width: 90%;
    margin: auto;
    flex-direction: column-reverse;
  }

  .title-container{
    align-self: self-start;
  }
  h1{
    color: black;
  }
}