html, body {
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden; /* Important for preventing horizontal scrollbar */
}

main {
  overflow: hidden; /* Ensure no overflow on the main container */
}

.horizontal {
  display: flex;
  width: 100%;
}

.panel {
  flex-shrink: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.realisation {
  position: relative;
  overflow-y: auto; /* Allow vertical scrolling within the Realisation section */
}