html, body {
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden; /* Important for preventing horizontal scrollbar */
}

main {
  overflow: hidden; /* Ensure no overflow on the main container */
}

.horizontal {
  display: flex;
  width: 100%;
}

.panel {
  flex-shrink: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.realisation {
  position: relative;
  overflow-y: auto; /* Allow vertical scrolling within the Realisation section */
}

.navbar {
  z-index: 3;
}

@media (min-width: 576px) {
  .navbar {
    display: none; /* Hide the navbar on screens larger than 576px */
  }
}

@media (max-width: 575.98px) {
  .navbar {
    display: flex; /* Show the navbar on screens smaller than 576px */
  }

  .panel {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .realisation {
    overflow-y: visible; /* Disable vertical scrolling for Realisation section on mobile */
  }

  #offcanvasDarkNavbar {
    background-image: linear-gradient(-270deg, #dbc793, #fff1cc 80%) !important;
  }
}

#offcanvasDarkNavbar {
  background-image: linear-gradient(-270deg, #dbc793, #fff1cc 70%) !important;
}
